.right-div{
  height:100%;position:fixed;width: 30%;
  left: 0;
  display: flex;
  background-color: blue;
  
}

.left-div{
  height:100%;position:fixed;width: 70%;
  overflow: hidden;
  overflow-x: scroll;
  right: 0;
  display: flex;
  background-color: brown;
 
}